// Override default variables before the import
$primary: #fefb9d;
$secondary: #15420cd2;
$info: #ba8126;
$danger: #0d0708;
$warning: #fcc44c;
$header: #b09d24;
$stone: #999999;
$body-bg: #f8a623;;
$body-color: #730484;
$font-family-base: "Poppins","Raleway", sans-serif;
$decoration: #0461dc;
$link-color: $secondary;
$link-hover-color: $primary;
$card-border-color: $decoration;

// To modify an existing color in Bootstrap $theme-colors map,
// add the following to your custom Sass file:
// https://getbootstrap.com/docs/4.0/getting-started/theming/
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "danger": $danger,
  "warning": $warning,
  "header": $header,
  "stone": $stone,
  "card-border-color": $decoration,
);

.card {
  --bs-card-border-color: #{$card-border-color};
}


// Import Bootstrap and its default variables
@import "bootstrap/scss/bootstrap.scss";
