@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.nav-brand {
  font-family: "Lobster", sans-serif;
  font-size: 25px;
}

.nav-links {
  font-family: "Lobster", sans-serif;
}

.username {
  pointer-events: none;
}